body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto';
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* HEADER */
.page-header .header-nav > a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.page-header .header-logo > span {
  color: #2e2f42;
}

.page-header .header-nav .nav-list a {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.page-header .header-nav a:hover {
  color: #404bbf;
}

.page-header .header-nav a:focus {
  color: #404bbf;
}

.page-header .header-contact-info {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-header .header-contact-info a {
  color: #434455;
}

.page-header .header-contact-info a:hover {
  color: #404bbf;
}

.page-header .header-contact-info a:focus {
  color: #404bbf;
}

/* MAIN */

/* Section Hero */

.page-content .hero-section {
  background-color: #2e2f42;
}

.hero-section .hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-section .order-button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.hero-section .order-button:hover {
  background-color: #404bbf;
}

.hero-section .order-button:focus {
  background-color: #404bbf;
}

/* Section Strategy */

.strategy-section .strategy-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.strategy-section .strategy-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section Team */

.team-section {
  background-color: #f4f4fd;
}

.team-section .team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.team-section .team-item {
  background-color: #ffffff;
}

.team-section .team-item h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-section .team-item p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section Portfolio */

.portfolio-section .portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.portfolio-section .portfolio-item h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-section .portfolio-item p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */

.page-footer {
  background-color: #2e2f42;
}

.page-footer a {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  line-height: 1.17;
}

.page-footer .footer-logo .footer-span {
  color: #f4f4fd;
}

.page-footer p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
