body {
	font-family: "Roboto", sans-serif;
	color: #434455;
	background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul,
ol {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

/* HEADER */
.page-header .header-nav > a {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	letter-spacing: 0.03em;
	line-height: 1.17;

	margin-right: 76px;
}

.page-header .header-logo > span {
	color: #2e2f42;
}

.page-header .header-nav .nav-list a {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.page-header .header-nav a:hover {
	color: #404bbf;
}

.page-header .header-nav a:focus {
	color: #404bbf;
}

.page-header .header-contact-info {
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.page-header .header-contact-info a {
	color: #434455;
}

.page-header .header-contact-info a:hover {
	color: #404bbf;
}

.page-header .header-contact-info a:focus {
	color: #404bbf;
}
/* header hw3 */
.page-header {
	border-bottom: 1px solid #e7e9fc;
	/* padding: 24px 0; */
}

.page-header .container-header {
	display: flex;
	align-items: center;
}

.container {
	width: 1158px;
	margin: 0 auto;
	padding: 0 15px;
}

.page-header .header-nav {
	display: flex;
	align-items: center;
	margin-right: 332px;
}

.page-header .nav-list {
	display: flex;
	gap: 40px;
}

.page-header .nav-item .nav-link {
	padding: 24px 0;
	display: block;
}

.page-header .header-contact-info .contact-list {
	display: flex;
	gap: 40px;
}

/* MAIN */

/* Section Hero */

.page-content .hero-section {
	background-color: #2e2f42;
	padding: 188px 0;
}

.hero-section .hero-title {
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: #ffffff;
	max-width: 496px;
	margin: 0 auto 48px;
}

.hero-section .order-button {
	background-color: #4d5ae5;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	cursor: pointer;

	display: block;
	min-width: 169px;
	height: 56px;
	margin: 0 auto;
	border: none;
	border-radius: 4px;
}

.hero-section .order-button:hover {
	background-color: #404bbf;
}

.hero-section .order-button:focus {
	background-color: #404bbf;
}
/* Section Hero hw3 */

/* Section Strategy */

.strategy-section .strategy-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
}

.strategy-section .strategy-description {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

.strategy-section .visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* Section  hw3 */
.strategy-section .strategy-list {
	display: flex;
	gap: 24px;
}
.strategy-section .strategy-item {
	width: calc((100% - 72px) / 4);
}

.strategy-section .strategy-item h3 {
	margin-bottom: 8px;
}

.strategy-section {
	padding: 120px 0;
}

/* Section Team */

.team-section {
	background-color: #f4f4fd;
}

.team-section .team-title {
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
	color: #2e2f42;
	margin-bottom: 72px;
}

.team-section .team-item {
	background-color: #ffffff;
}

.team-section .team-item h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
	text-align: center;
	margin-bottom: 8px;
}

.team-section .team-item p {
	line-height: 1.5;
	letter-spacing: 0.02em;
	text-align: center;
}

/* Section  hw3 */
.team-section {
	padding: 120px 0;
}

.team-section .team-list {
	display: flex;
	gap: 24px;
}

.team-section .team-item {
	width: calc((100% - 72px) / 4);
	border-radius: 0 0 4px 4px;
}

.team-section .card-content {
	padding: 32px 0;
}

/* Section Portfolio */

.portfolio-section .portfolio-title {
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	text-align: center;
	color: #2e2f42;
	margin-bottom: 72px;
}

.portfolio-section .portfolio-item h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: #2e2f42;
	margin-bottom: 8px;
}

.portfolio-section .portfolio-item p {
	line-height: 1.5;
	letter-spacing: 0.02em;
}

/* Section  hw3 */
.portfolio-section {
	padding: 120px 0;
}

.portfolio-section .portfolio-list {
	display: flex;
	column-gap: 24px;
	row-gap: 48px;
	flex-wrap: wrap;
}

.portfolio-section .portfolio-item {
	width: calc((100% - 48px) / 3);
}

.portfolio-section .card-content {
	padding: 32px 16px;
	border: 1px solid #e7e9fc;
	border-top: none;
	border-radius: 0 1px 1px 1px;
}

.card-content {
}
/* Footer */

.page-footer {
	background-color: #2e2f42;
}

.page-footer a {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
	letter-spacing: 0.03em;
	line-height: 1.17;
}

.page-footer .footer-logo .footer-span {
	color: #f4f4fd;
}

.page-footer p {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #f4f4fd;
	max-width: 264px;
}

/* HW3 */

.page-footer {
	padding: 100px 0;
}

.page-footer .footer-logo {
	display: inline-block;
	margin-bottom: 16px;
}
